.wrapper{
    width: calc(25% - 30px);
    height: 450px;

    margin: 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
}


.wrapper > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.wrapper > div:nth-of-type(2){
    margin-top: -20px;

    align-items: flex-start;
    flex-direction: column;
}


.title{
    margin: 5px 0;

    font-size: 22px;
    font-weight: 500;
}

.description{
    max-height: 70px;
    overflow-y: hidden;

    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    line-height: 22px;
}





.wrapper > div:nth-of-type(1){
    justify-content: center;
}

.pizzaImage{
    width: 95%;
    transition: 0.2s;
}





.price{
    font-size: 20px;
}



.wrapper button{
    white-space: nowrap;
}




















@media screen and (max-width: 1200px) {
    .wrapper{
        width: calc(33.3% - 30px);
        height: 380px;

        margin: 30px 15px;
    }


    .pizzaImage{
        width: 70%;
    }
}





@media screen and (max-width: 576px) {
    .wrapper{
        width: 100%;
        height: fit-content;

        margin: 10px 0;
        padding: 0 2%;
        display: grid;
        grid-template-columns: 1.2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        align-content: space-between;
    }


    .wrapper > div{
    }



    .wrapper > div:nth-of-type(1){
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        align-items: flex-start;
    }


    .pizzaImage{
        width: 100%;
    }



    .wrapper > div:nth-of-type(2){
        height: fit-content;
        margin: 0;
        grid-column-start: 2;
        grid-column-end: 4;
    }


    .wrapper > div:nth-of-type(2) > h3{
        font-size: 18px;
    }



    .wrapper > div:nth-of-type(2) > p{
        font-size: 12px;
    }



    .wrapper > div:nth-of-type(3){
        height: fit-content;
        grid-column-start: 2;
        grid-column-end: 4;
    }


    .price{
        font-size: 16px;
    }

}