.wrapper{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    pointer-events: none;
}

.background{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    pointer-events: all;
}

.backDisabled{
    background: none;
    pointer-events: none;
}





.emptyCart{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    position: relative;
}


.emptyCart img{
    width: 78%;
}

.emptyCart > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.emptyCart > div p:first-of-type{
    font-size: 22px;
}

.emptyCart > div p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}



.closeButton{
    position: absolute;
    top: calc(50% - 12px);
    left: -17%;
    transition: 0.3s;
}


.emptyCart button svg{
    transition: 0.5s;
}

.emptyCart button svg:hover{
    transform: rotate(180deg);
}

.hideButton{
    opacity: 0;
}





.content{
    width: 430px;
    height: 100%;

    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    background-color: rgb(243,243,247);
    overflow: overlay;

    pointer-events: all;

    transition: transform 0.4s;
    transform: translateX(0);
}

.content::-webkit-scrollbar{
    width: 10px;

}

.content::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.4);

    border-radius: 10px;
}


.content > div{
    width: 100%;
    
    display: flex;
    flex-direction: column;

}


.header_cardsWrapper_container{
}


.ModalHeader{
    padding: 0 15px;

    font-size: 25px;
}





.cardsWrapper{
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}


.card{
    width: 100%;

    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
}


.betweenTopBottomLine{
    width: 100%;
    height: 1px;

    background-color: rgba(0, 0, 0, 0.2);

    border: none;
}


.cardTop, .cardBottom{
    width: 100%;

    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.cardTop > div{
    width: 85%;
    display: flex;
    gap: 15px;
}


.cardTop > div img{
    width: 60px;
    height: 60px;
}


.cardTop > div > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.cardTop > div > div p:first-of-type{
    font-size: 16px;
    font-weight: 500;
}


.cardTop > div > div p{
    font-size: 14px;
}



.deleteButton{
    align-self: flex-start;
}


.deleteButton svg{
    width: 20px;
    height: 20px;
}





.cardBottom{
    padding: 15px 0;
}





.contentDisabled{
    pointer-events: none;
    transition: transform 0.4s;
    transform: translateX(100%);
}




















/* @keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
} */