.wrapper{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper h1{
    font-weight: 500;
}


.form{
    width: 900px;

    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    grid-gap: 40px;

    margin-top: 50px;
}



.type > select{
    width: 100px;
    height: 40px;
    
    margin: 10px 0;
    align-self: flex-start;

    border: 1px solid black;
    border-radius: 5px;
}



.form > p{
    margin-top: 30px;
    align-self: flex-start;
}



.form input{
    width: 100%;
    height: 40px;

    padding: 10px;
    margin: 10px 0;

    border: 1px solid black;
    border-radius: 5px;
}


.form > .price{
    width: 100px;

    align-self: flex-start;
}



.form > button{
    margin: 30px 0;
    align-self: flex-start;
}



.form > label{
    width: calc(50% - 20px);
}




.type{
    width: fit-content!important;
}


.price{ 
    width: fit-content;
}

.price input{
    width: 100px;
}

.price input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.description textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 40px;
    min-height: 40px;

    padding: 10px;
}


.button{
    width: 50%;
}