.wrapper{
    margin: 20px 7%;
}


.wrapper .sliderContainer{
    display: flex;
    align-items: center;
    /* gap: 10px; */
}


.wrapper .sliderContainer > button::before{
    background: rgb(255, 105, 0);
}


.CustomSlide{
    width: 200px;
    height: 250px;

    padding: 0 8px;

    display: flex!important;
    align-items: center;
    justify-content: center;
}


.CustomSlide > div{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid rgb(255, 105, 0);
    border-radius: 25px;
}

.CustomSlide > div img{
    width: 190px;
    height: 237px;
    border-radius: 20px;
}










button{
    background: none;
    cursor: pointer;
    border: none;
}

button::before{
    display: none;
}

.icon{
    width: 25px;
    height: 25px;

    background-color: rgb(255, 105, 0);

    mask-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11L1 6L6 1' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
}


.iconReverse{
    transform: scaleX(-1);
}

/* .slick-disabled{
    display: none;
} */