





.wrapper{
    padding: 1px 0;
    display: flex;
    flex-direction: column;
    overflow: visible!important;
    order: 1;
}


.wrapper header{
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.wrapper header > div{
    display: flex;
    align-items: center;
    gap: 40px;
}


.wrapper header > div:nth-of-type(1){
    position: relative;
}

.wrapper header > div:nth-of-type(1) > img{
    width: 250px;
}

.wrapper header > div h2{
    font-size: 1.1em;
    font-weight: 400;
}

.wrapper header > div:nth-of-type(1) > div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}




.wrapper header > div .rating p{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgba(0, 0, 0, 0.8);
}

.ratingModal, .headerMobileRatingModal{
    width: 450px;
    min-height: 100px;
    background-color: rgb(65,65,65);

    padding: 15px;
    flex-wrap: wrap;
    flex-direction: row!important;
    justify-content: space-between;
    opacity: 0;
    position: absolute;
    top: 130%;
    left: 20%;
    z-index: 200;
    
    border-radius: 10px;
    
    transition: 0.3s;
    transform: translateY(20%);

    pointer-events: none;
}

.ratingModal:before{
    content: ' ';
    width: 30px;
    height: 30px;
    
    background-color: rgb(65,65,65);
    position: absolute;
    top: -2%;
    left: 50%;
    transform: rotate(45deg);
    
}



.ratingModal > div *{
    color: rgba(255, 255, 255, 0.6);
}

.ratingModal > div p{
    font-size: 14px;
}


.ratingModal > div:nth-of-type(1), .ratingModal > div:nth-of-type(2){
    width: 45%;

    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    z-index: 200;
}


.ratingModal > div:nth-of-type(1) h2, .ratingModal > div:nth-of-type(2) h2{
    font-size: 27px;

    color: white;
}



.ratingModal > div:nth-of-type(1) p:nth-of-type(1), .ratingModal > div:nth-of-type(2) p:nth-of-type(1){
    color: white;
}


.ratingModal > div:nth-of-type(2) > div{
    display: flex;
    align-items: center;
}

.ratingModal > div:nth-of-type(2) > div h2{
    color: rgb(255,210,0);
    margin-right: 5px;
}

.ratingModal > div:nth-of-type(2) > div svg{
    height: 80%;
}


.ratingModal > div:nth-of-type(3){
    width: 100%;

    margin-top: 20px;
}




.wrapper header > div .phone p{
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: -1px;
}




.personals{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 30px!important;

    /* font-size: 0.9em; */
}


.personals > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* gap: -10px; */

}

.personals > a *{
    transition: 0.3s;
}

.personals > a:hover{
}


.personals > a > span{
    width: 30px;
    margin-bottom: -5px;
}

.personals > a > span svg{
    transition: 0.3s;
}

.personals > a > span *{
    transition: 0s;
}



.personals > a > p{
    font-size: 0.9em;
    font-weight: 500;
}



.burgerMenu{
    width: 35px;

    margin-right: 9px;
    display: none!important;
}


.burgerMenu svg{
    width: 100%;
    height: 100%;
}




.headerMobileModal{
    width: 100%;
    height: 100vh;
    background-color: black;

    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
}

.headerMobileModal * {
    color: white;
    font-size: 22px;
    letter-spacing: -1px;
    white-space: nowrap;
}



.headerMobileModal > div:nth-of-type(1n+2){
    padding: 0 14%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}



.headerMobileTop{
    width: 100%;
    height: 95px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.closeButton{
    width: 20px;

    margin-right: 17px;    
}


.closeButton svg{
    width: 100%;
}




.headerMobileLocation{
    height: 70px;
    position: relative;
}


.headerMobileLocation span{
    position: absolute;
    left: 5%;
}




.headerMobileRating{
    height: 65px;
    
    position: relative;
    gap: 20px;
}


.headerMobileRatingStars{
    display: flex;
    
}


.headerMobileRatingStars h2{
    margin-right: 5px;
    color: rgb(255,210,0);
}



.headerMobileRatingStars svg{
    width: 20px;
}



.infoIcon{
    width: 25px;
    height: 25px;

    position: absolute;
    right: 5%;
}


.infoIcon svg{
    width: 100%;
    height: 100%;
}




.headerMobileLinks{
    padding: 0!important;
    flex-direction: column;
}


.headerMobileLinks a{
    width: 100%;
    
    padding: 15px 14%;
    margin: 2px 0;
}


.headerMobileRatingModal{
    opacity: 0;
}



















@media screen and (max-width: 992px) {

    .rating, .phone, .personals{
        display: none!important;
    }

    .burgerMenu{
        display: flex!important;
    }
}





@media screen and (max-width: 576px) {
    
    .wrapper{
        overflow: hidden!important;
        padding: 0 1%;
    }
    
    
    .headerMobileModal{
        display: flex;
    }


    .headerMobileRatingModal{
        width: 300px;
        height: fit-content;

        padding: 3%!important;
        top: 35%;
        left: 5%;
        z-index: 350;
        gap: 15px;

        pointer-events: all;
    }


    .headerMobileRatingModal > div h2 {
        font-size: 25px;
        font-weight: 400;
    }   



    .headerMobileRatingModal > div p:first-of-type{
        font-size: 15px;
        font-weight: 400;
        color: white;
    }
    
    
    
    .headerMobileRatingModal > div p{
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.6);
        white-space: normal;
    }




    .headerMobileRatingModal > div:nth-of-type(2) > div:first-of-type{
        display: flex;
    }
    .headerMobileRatingModal > div > div > svg{
        width: 20px;
    }



}