





.wrapper{
    display: flex;
    flex-direction: column;
}


.wrapper header{
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.wrapper header > div{
    display: flex;
    align-items: center;
    gap: 40px;
}


.wrapper header > div:nth-of-type(1){
    position: relative;
}

.wrapper header > div:nth-of-type(1) > img{
    width: 250px;
}

.wrapper header > div h2{
    font-size: 1.1em;
    font-weight: 400;
}

.wrapper header > div:nth-of-type(1) > div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}




.wrapper header > div .rating p{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgba(0, 0, 0, 0.8);
}

.ratingModal{
    width: 450px;
    min-height: 100px;
    background-color: rgb(65,65,65);

    padding: 15px;
    flex-wrap: wrap;
    flex-direction: row!important;
    justify-content: space-between;
    opacity: 0;
    position: absolute;
    top: 130%;
    left: 20%;
    z-index: 200;
    
    border-radius: 10px;
    
    transition: 0.3s;
    transform: translateY(20%);

    pointer-events: none;
}

.ratingModal:before{
    content: ' ';
    width: 30px;
    height: 30px;
    
    background-color: rgb(65,65,65);
    position: absolute;
    top: -2%;
    left: 50%;
    transform: rotate(45deg);
    
}



.ratingModal > div *{
    color: rgba(255, 255, 255, 0.6);
}

.ratingModal > div p{
    font-size: 14px;
}


.ratingModal > div:nth-of-type(1), .ratingModal > div:nth-of-type(2){
    width: 45%;

    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    z-index: 200;
}


.ratingModal > div:nth-of-type(1) h2, .ratingModal > div:nth-of-type(2) h2{
    font-size: 27px;

    color: white;
}



.ratingModal > div:nth-of-type(1) p:nth-of-type(1), .ratingModal > div:nth-of-type(2) p:nth-of-type(1){
    color: white;
}


.ratingModal > div:nth-of-type(2) > div{
    display: flex;
    align-items: center;
}

.ratingModal > div:nth-of-type(2) > div h2{
    color: rgb(255,210,0);
    margin-right: 5px;
}

.ratingModal > div:nth-of-type(2) > div svg{
    height: 80%;
}


.ratingModal > div:nth-of-type(3){
    width: 100%;

    margin-top: 20px;
}




.wrapper header > div .phone p{
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: -1px;
}




.personals{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 30px!important;

    /* font-size: 0.9em; */
}


.personals > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* gap: -10px; */

}

.personals > a *{
    transition: 0.3s;
}

.personals > a:hover{
}


.personals > a > span{
    width: 30px;
    margin-bottom: -5px;
}

.personals > a > span svg{
    transition: 0.3s;
}

.personals > a > span *{
    transition: 0s;
}



.personals > a > p{
    font-size: 0.9em;
    font-weight: 500;
}



.burgerMenu{
    display: none!important;
}



















@media screen and (max-width: 992px) {

    .rating, .phone, .personals{
        display: none!important;
    }

    .burgerMenu{
        display: flex!important;
    }
}