@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.8);
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}








.nav-shadow{
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
}




.container{
  min-width: 950px;
  max-width: 1280px;
  
  margin: 0 8%;
}


/* .second{
  background-color: rgba(255, 105, 0, 0.5)!important;
} */




.title{
  color: black;
  font-size: 36px;
  font-weight: 500;
}






.pizzasSection{
  /* padding-top: 90px; */
  margin-top: 40px;
  scroll-margin-top: 80px;
}


.pizzasWrapper{
  display: flex;
  flex-wrap: wrap;

}