@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.8);
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}


.hide{
  display: none!important;
}






body{
  background-color: white;
}





.App{
  display: flex;
  flex-direction: column;
}

.App > div{
  overflow: hidden;
}








.is-pinned{
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
}


.is-pinned #Nav-links{
  transform: translate(0px);
}





.container{
  width: 85%;
  min-width: 950px;
  max-width: 1280px;
  
  margin: 0 auto;
}


/* .second{
  background-color: rgba(255, 105, 0, 0.5)!important;
} */




.title{
  color: black;
  font-size: 36px;
  font-weight: 500;
}






.pizzasSection{
  /* padding-top: 90px; */
  margin-top: 40px;
  scroll-margin-top: 80px;
  order: 20;

}


.pizzasWrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}










.loading-cover{
  width: 100vw;
  height: 100vh;

  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  
  pointer-events: none;

  pointer-events: none;

  transition: 1s;
}




















@media screen and (max-width: 1200px) {
  .container{
    width: 100%;
    min-width: 0px;

    padding: 0 1%;
  }
}





@media screen and (max-width: 576px) {
  .container{
    width: 100%;
    min-width: 0px;

    padding: 0 1%;
  }


  .pizzasSection{
    scroll-margin-top: 30px;
  }


  .title{
    padding: 0 2%;
    margin-bottom: 30px;

    font-size: 26px;
    font-weight: 400;
  }



  .pizzasWrapper{
    flex-direction: column;
    gap: 30px;
  } 


  .pizzasWrapper > div{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }



  .pizzasWrapper > div:last-of-type{
    border-bottom: none;
  }
}
