@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.8);
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}




.container{
  margin: 0 8%;
}


/* .second{
  background-color: rgba(255, 105, 0, 0.5)!important;
} */