
.wrapper{
    width: 100%;
    height: 60px;

    margin-bottom: 10px;
    padding: 0 8%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 1px;
    z-index: 150;

    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}



.wrapper nav{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.wrapper nav > div{
    height: 100%;
}




.dodoIcon{
    height: 90%;

    display: flex;
    align-items: center;
}

.dodoIcon svg{
    height: 100%;

    display: block;
}

.logo_svg__st1{
    fill:#fff;
}



.wrapper nav .left{
    display: flex;
    align-items: center;
    gap: 15px;

    overflow: hidden;
}

.wrapper nav .left ul{
    height: 100%;

    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);

    transition: 0.3s;
    transform: translateX(-55px);
}


.wrapper nav .left ul li{
    height: 100%;

    display: flex;
    align-items: center;

    white-space: nowrap;
}


.wrapper nav .left ul li p, .wrapper nav .left ul li a{
    height: 100%;

    display: flex;
    align-items: center;
    position: relative;
    color: rgba(0, 0, 0, 0.8);

    cursor: pointer;
    transition: 0.3s;
}

.wrapper nav .left ul li p:hover, .wrapper nav .left ul li a:hover{
    color: rgb(255, 105, 0);
}



.wrapper nav .left ul li:last-of-type{
    margin-left: 15px;
}

.wrapper nav .left ul li:last-of-type p::before{
    content: " ";
    width: 9px;
    height: 9px;

    background: rgb(255, 105, 0);
    position: absolute;
    left: -14px;

    border-radius: 10px;

    /* transition: 1s; */
    animation: 2s blink linear infinite;
}





.cart{
    width: 100%;
    height: 100vh;
    
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: rgba(0, 0, 0, 0.3);
}





@keyframes blink{
    0%{
        background-color: rgb(255, 105, 0);
    }
    50%{
        background-color: rgba(255, 105, 0, 0);
    }
    100%{
        background-color: rgb(255, 105, 0);
    }
}