.wrapper{
    width: 100%;
    height: calc(100vh - 150px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper a{
    height: 100%;
    box-sizing: border-box;

}

.wrapper a img{
    height: 100%;
}